*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.container{
    width: 1500px;
    height: 1000px;
    background-color: whitesmoke;
    margin: 20px auto;
    border-bottom-right-radius: 1%;
    border-bottom-left-radius: 1%;
}

/* header */
.title {
    height: 10%;
    background-color: white;
}

.main-logo{
    height: 75px;
    margin-left: 40px;
    vertical-align: middle;
}

.logo-text{
    font-family: sans-serif;
    font-size: 60px;
    font-weight: bold;
}


/* Main */
.second-container{
    width: 70%;
    height: 83%;
    margin: auto;
    margin-top: 50px;
}

/* menu nav */
nav {
    height: 80px;
    background-color: white;
}

.nav-button {
    margin-left: 60px;
}

.button-add-task{
    width: 100px;
    background-color: rgb(58, 199, 255);
}

.button-add-section {
    width: 120px; 
    border: 1px solid lightgrey; 
}

.button-add-task, .button-add-section {
    height: 40px;
    display: inline-block;
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 20px;
    border-radius: 5%;
}

.command-add-task {
    color: white;
}

.command-add-section{
    color:lightgrey;
}

/* contenitore delle liste */
.list {
    padding-top: 50px;
    padding-left: 90px;
}

/* contenitore primo punto della lista */
.list-box {
    margin-bottom: 50px;
}

.unordered-list{
    list-style: url('../img/down-arrow-svgrepo-com.svg');

}

.list-point{
    font-family: sans-serif;
    font-size: 1.7em;
    font-weight: bold;
}

.list-text {
    list-style: inside url('../img/check-svgrepo-com.svg');
    font-size: 25px;
    font-weight: normal;
    margin-top: 10px;
}

.list-button, .list-button-goals, .list-button-recruiting, .list-button-mobile, .list-button-website, .list-button-sales {
    display: inline-block;
    padding: 5px 15px 5px 15px;
    vertical-align: middle;
    border-radius: 10%;
}

.list-button{
    background-color: rgb(58, 199, 255);
}

.list-button-goals {
    background-color: mediumslateblue;
}

.list-button-recruiting {
    background-color: lime;
}

.list-button-mobile {
    background-color: orange;
}

.list-button-website {
    background-color: rgb(177, 88, 162);
}

.list-button-sales {
    background-color: limegreen;
}

.text-button{
    font-size: 15px;
    vertical-align: middle;
    color: white;
}

